* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
}

header>* {
    position: absolute;
}

header img {
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.welcome {
    top: 7%;
    left: 5%;
    right: 5%;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


header h1 {
    margin-top: 15px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

header button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    font-size: 12px;
}

@media (orientation: portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px ;
    }
    
    header button {
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;

     
    }

    header img {
        right: -20%;
    }
}
@media (orientation: portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px ;
    }
    
    header button {
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;
    }
}

@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;  
        right: -5%;
    }
    header div.welcome {
        top: 15%;
        left: 7%; 
        right: 45%;
    }
    header button {
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {

    header div.welcome {
        left: 3%;
    }

    header p {
        font-size: 56px;

    }
    header h1 {
        margin-top: 40px;
        font-size: 34px;
    }
    header h2 {
        font-size: 34px;
    }
    header button {
        margin-top: 80px;
        font-size: 26px;
        line-height: 60px;
    }

    header img {
        right: -22%;
        height: 95%;
    }
}

section {
    min-height: 100vh;
}